.App {
  display: flex;
  width:100%;
  height: 100vh;
}
html, html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #888787;
}


ul {
  list-style-type: none;
  font-size: 20px;
  
}
li {
  padding: 15px;
  
}


li:hover {
  background-color: #cbf7f7;
  
}
.mapa {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-left: 50px;
  
  
}


.list {
  font-size: 100px;
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: azure;
  border-left: 1px solid grey;
}


h1 {
  font-size: 45px;
  text-align: center;
  color: darkgrey;
  background-color: azure;
  padding: 15px;
}
input {
  width: 70%;
  height: 30px;
  padding-left: 10px;
  margin-left: 10px;
  position: absolute;
  top: 15px;
  border: none;
 } 
#inputBox {
  height:50px;
}