* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 80%;
  background-color: azure;
  
}

html{
	height: 100%;
	font-family: sans-serif;
}

#root {
	height: 100%;
	width: 100%;
}

.App,
#map {
	height: 100%;
   
    }

/* -------- Main Header --------- */
h1 {
	height: 60px;
    background-color: azure;
    text-align: center;
    font-size: 35px;
    padding-top: 15px;
    color: darkblue;
    }

 /* ---------- Castle Description from Wikipedia --------- */
.wiki-info {
	position: fixed;
	bottom: 0;
	background-color: #f2fcfc;
	z-index: 50;
	width: 70%;
    height: auto;
    border: 2px solid  #c0eaea;
	padding: 15px;
	padding: 10px;
	border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 10px;
    color: darkblue;
}

.wiki-info h2 {
    font-size: 1.2em;
	padding-bottom: 5px;
	margin-bottom: 0 0 10px 0;
}

.wiki-info p {
    font-size: 0.7em;
}

.content {
    font-size: 0.9em;
}

.source {
	font-style: italic;
	font-size: 0.8em;
	margin-top: 5px;
    color: darkgray;
}

/* -------- List part ----------- */

.castle-list {
	position: fixed;
    height: auto;
    width:20%;
	top: 80px;
	right: 0;
	z-index: 100;
	padding: 0 10px;
    background-color: azure;
    overflow: hidden;
    color: darkblue;
}

.castle-li{
	border: none;
	padding: 5px 8px;
	background-color: #e9f8f8;
}

.castle-li:hover{
	background-color: #c0eaea;
}

.input-box{
    width: 100%;
	border: none;
	padding: 10px;
    margin-bottom: 20px;
    background-color: azure;
	color: darkgrey;
    border: 2px solid #c0eaea;
    border-radius: 5px;
  
}

.castles {
	padding: 0 10px 10px 10px;
	list-style: none;
	background-color: #e9f8f8;
	width:100%;
    border: 2px solid lightgrey;
    border-radius: 5px;
}
/* ------------------------------------------------  */
/* ------------ Media Query for Mobile phone ------  */
/* ------------------------------------------------  */
@media screen and (max-width: 550px) {
  

#root, .wiki-info, .castle-list, body {
	width: 100%;
}
  
body {
    display: flex;
    flex-wrap: wrap;
}  
  
/* -------- Main Header --------- */
  h1 {
        font-size: 1.2em;
        height: 40px;
        padding-top: 10px;
    }
  

 /* ---------- Castle Description from Wikipedia --------- */
.wiki-info {
	position: fixed;
	bottom: 0;
	width: 95%;
    max-height: 200px;
    height: auto;
   	padding: 10px;
	margin-left: 2.5%;
    overflow: scroll;
}

.wiki-info h2 {
    font-size: 0.9em;
	padding-bottom: 3px;
}

.wiki-info p {
    font-size: 0.6em;
    
}

.content {
    font-size: 0.9em;
    
}

/* -------- List part ----------- */ 
.castles {
    font-size: 0.7em;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
  
.castle-list, body {
   background-color: rgba(255, 255, 255, 0.01);
}
  
.castle-list {
  width: auto;
  position:fixed;
  left: 0px;
  top: 100px;
}

.input {
   margin-bottom: 0px;
   font-size: 0.8em;
}

.input-box{
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1em;
  width: auto;
  position:fixed;
  left: 120px;
  top: 50px;
}
  
}